In [7]:
import numpy as np
import pandas as pd

In [8]:
labels=['a','b','c']
v1=np.random.randint(1,20,4)
v2=np.random.randint(1,20,4)
v3=np.random.randint(1,20,4)

multilist=[v1.tolist(),v2.tolist(),v3.tolist()]
cols=['w','x','y','z']

In [9]:
df =pd.DataFrame(data=multilist, index=labels, columns=cols )
df

   w   x  y   z
a  9   6  4   3
b  9  18  3  16
c  1  16  8  17

In [12]:
df['x'] #output an series

a     6
b    18
c    16
Name: x, dtype: int64

In [11]:
df[['x']] #output an dataframe

    x
a   6
b  18
c  16

In [15]:
df['Sum(x+y)']=df ['x']+df['y']

In [16]:
df

   w   x  y   z  Sum(x+y)
a  9   6  4   3        10
b  9  18  3  16        21
c  1  16  8  17        24

In [19]:
df .drop('Sum(x+y)',axis=1, inplace= True)

In [20]:
df

   w   x  y   z
a  9   6  4   3
b  9  18  3  16
c  1  16  8  17

In [21]:
df2=pd.DataFrame(data=[[1,2,3,4]],index=['d'],columns=cols)
df2

   w  x  y  z
d  1  2  3  4

In [22]:
df=pd.concat([df,df2])
df

   w   x  y   z
a  9   6  4   3
b  9  18  3  16
c  1  16  8  17
d  1   2  3   4