# Week 1 - Python Review
### Notebook created by Jonathan Penava

## Overview
- Data types
- Comparison Operators
- if, elif, else Statements
- for Loops
- while Loops
- functions

## Data types

<font color=green>Addition</font>

In [1]:
1+1

2

<font color=green>Multiplication</font>

In [2]:
2*3

6

<font color=green>Division</font>

In [3]:
3/5

0.6

<font color=green>Exponents</font>

In [4]:
2**4

16

<font color=green>Modular Division</font>

In [5]:
14%3

2

<font color=green>Variables</font>

In [6]:
x=3
y=4
z=x+y
z

7

<font color=green>Printing</font>

In [7]:
x

3

In [8]:
x='Python'  #Define a variable x

In [9]:
x   #Value of x

'Python'

In [10]:
print(x)   #Print the value of x

Python

<font color=red>Note the difference of the two statements above.  The first statement x shows the value of x, while the second will print the value of x.  If this was a .py program rathar than a nodebook, only the second value would produce output. </font>

In [11]:
print(x + " review")   #Add strings

Python review

In [12]:
print(x + 4)   #Add string and int

TypeError: can only concatenate str (not "int") to str

<font color=red>The above statement produces an error because the values are of a different type.  Below is an alternative. </font>

In [24]:
print('Testing: {one}, {two}'.format(one=x, two=4))     #String format

Testing: Python, 4

In [15]:
print('{}, {}'.format(x, 4))

Python, 4

<font color=green>Lists</font>

In [26]:
[1, 2, 3]

[1, 2, 3]

In [27]:
['hello', 2, [3, 4]]

['hello', 2, [3, 4]]

In [38]:
myList = [1, 2, 3]

In [39]:
myList.append('d')   #Add a new item to the list

In [40]:
print(myList)

[1, 2, 3, 'd']

In [41]:
myList[2]   #Get at a specific index

3

In [42]:
myList[2:]   #Get all values after an index inclusive

[3, 'd']

In [43]:
myList[:2]    #Get all values before an index exclusive

[1, 2]

In [45]:
myList[0] = 'a'   #Change the value at an index
print(myList)

['a', 2, 3, 'd']

<font color=green>Dictionaries</font><br>
Dictionaries are a collection of key value pairs.  This is similar to the Java Map object.  This is different from the Python Map.

In [46]:
di= {'key1':'value1', 'key2':5}

In [49]:
di['key1']   #Get by key

'value1'

<font color=green>Sets</font><br>
A collection of unique values.

In [50]:
{1, 2, 3}

{1, 2, 3}

In [51]:
{1, 2, 3, 3, 3, 2, 1, 1, 2, 3, 3, 2, 1, 1}

{1, 2, 3}

## Comparison Operators

In [52]:
1>2

False

In [53]:
1<2

True

In [55]:
1==2

False

In [56]:
1==1

True

In [57]:
1>=2

False

In [58]:
1<=2

True

In [59]:
(1<2) and (1>2)

False

In [60]:
(1<2) or (1>2)

True

## if, elif, else Statements

In [61]:
if 1 < 2 :
    print('a')

a

In [63]:
if 1 > 2 :
    print('b')

In [64]:
if 1 < 2 : 
    print('a')
else:
    print('b')

a

In [65]:
if 1 > 2 : 
    print('a')
else:
    print('b')

b

In [67]:
if 1 > 2 : 
    print('a')
elif 1 == 2 :
    print('b')
elif 2 == 2 :
    print('c')
else :
    print('d')

c

## for Loops

Note that this is similar to the Java for each loop

In [68]:
a = [1, 2, 3, 4, 5]
b = {1, 2, 3, 3, 2, 1, 1, 2, 3, 3, 2}

In the above definition 'a' represents a list while 'b' represents a set

In [69]:
for item in a:
    print(item)

1
2
3
4
5

In [70]:
for item in b:
    print(item)

1
2
3

## while Loop

In [73]:
i = 1
while i <= 5:
    print('i is: {}'.format(i))
    i+=1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

## Functions

In [74]:
def my_function(param1, param2='default'):
    print('param1 is: {}'.format(param1))
    print('param2 is: {}'.format(param2))

In [75]:
my_function(4)

param1 is: 4
param2 is: default

In [76]:
my_function(4, 5)

param1 is: 4
param2 is: 5

Let's write a function that will calculate a progressive tax rate for the specific salary.  <br>
<ul>
    <li>If the salary is less than $40,000, return 20% * salary.</li>
    <li>If the salary is between $40,000 and $100,000, return 8000 +  30% *(salary – 40,000) </li>
    <li>If the salary is over $100,000, return 26,000 +  40% *(salary – 100,000)</li>
</ul><br>
Example: The output for a salary of $70,000 should be “$17000” <br>
Note: '{:.2f}'.format(value) will display 2 decimal places.

In [97]:
def prog_tax(salary=0):
    if salary <= 40000:
        return '${:.2f}'.format(salary*0.20)
    elif salary <= 100000:
        return '${:.2f}'.format(8000+((salary-40000)*0.30))
    elif salary > 100000:
        return '${:.2f}'.format(26000+((salary-100000)*0.40))
    else:
        return 'Could not calculate'

In [98]:
prog_tax(200000)

'$66000.00'

In [99]:
prog_tax(77000)

'$19100.00'

In [101]:
prog_tax(63133)

'$14939.90'